@inject IJSRuntime Js
@inject ISnackbar Snackbar
@inject CommonProperties CommonProperties
@inject CartService _cartService

<MudTable Items="Items ?? []" Dense="true" Hover="true" FixedHeader="true"
          RowEditTrigger="@(IsReadOnly ? TableEditTrigger.EditButton : TableEditTrigger.RowClick)"
          CommitEditTooltip="Commit Edit"
          OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
          RowEditPreview="BackupItem"
          RowEditCancel="ResetItemToOriginalValues"
          RowEditCommit="ItemHasBeenCommitted"
          ApplyButtonPosition="TableApplyButtonPosition.Start"
          EditButtonPosition="TableEditButtonPosition.End"
          EditTrigger="TableEditTrigger.RowClick"
          RowClass="liner-grid-buttons">

    <HeaderContent>
        <MudTh Style="width: min-content; white-space: nowrap;font-weight:bold;color: #143155">Qty</MudTh>
        <MudTh Style="font-weight:bold;color: #143155">Name</MudTh>
        <MudTh Style="font-weight:bold;color: #143155">Price</MudTh>
        <MudTh Style="font-weight:bold;color: #143155">Total</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Qty" Style="width: min-content;" Class="table-style" @onclick="() => SelectItem(context)">
            <MudNumericField T="decimal" Value="context.Quantity" Min="1"
                             Style="width: 60px;" Immediate="true"
                             ValueChanged="(val) => UpdateQuantity(context, val)"
                             Disabled="context.IsReadOnly" /> 
        </MudTd>
        <MudTd DataLabel="Name" Class="table-style">@context.Name</MudTd>
        <MudTd DataLabel="Price" Class="table-style">@context.Price</MudTd>
        <MudTd DataLabel="Total" Class="table-style">@context.Total</MudTd>
    </RowTemplate>

    <ChildRowContent>
        @if (context.Attributes?.Any() == true)
        {
            <MudTr Class="attribute-row">
                <MudTd></MudTd>
                <MudTd ColSpan="3" Style="padding-top: 6px;padding-bottom: 0px;">
                    <div style="font-size: 12px; color:black;">
                        @foreach (var attr in context.Attributes)
                        {
                            <p class="attribute-name" style="margin-right: 0px; margin-bottom: 5px;font-weight:bold">➤ @attr.Name</p>
                        }
                    </div>
                </MudTd>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>



<style>
    .table-style {
        font-size: 14px;
        color: black;
        font-weight: bold;
    }

    .liner-grid-buttons {
        background: linear-gradient(135deg, #ffffff, #e7ecf5);
        color: #143155;
    }

</style>