@using global::POS.Desktop.Components.PosDialog
@inject CartService _cartService
@inject CommonProperties _commonProperties
@inject IDialogService _dialogService
@inject LocalizationService Localizer

<link href="actions-section.css" rel="stylesheet" />

<div class="actions-grid-container">
    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_Numbers"))
    {
        @for (var i = 1; i <= 9; i++)
        {
            var number = i.ToString();
            <button class="action-button keypad-btn special-keypad-button" @onclick="() => _cartService.AppendNumberToQuantity(number)">
                @number
            </button>
        }
        <button class="action-button keypad-btn special-keypad-button" @onclick='() => _cartService.AppendNumberToQuantity("0")'>
            0
        </button>
    }

    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_BS"))
    {
        <button class="action-button keypad-btn special-keypad-button" @onclick="() => _cartService.OnClickBS()">
            BS
        </button>
    }

    <button class="action-button keypad-btn customer-data-btn" 
            disabled="@(_commonProperties.CurrentPosMode != "Delivery" || _commonProperties.CustomerDetails == null || string.IsNullOrEmpty(_commonProperties.CustomerDetails.FirstPhoneNumber))"
            @onclick="OpenFullCustomerInfo">
        <MudIcon Icon="@Icons.Material.Filled.AssignmentInd" Size="Size.Large" />
    </button>

    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_Plus"))
    {
        <button class="action-button icon-btn plus-btn special-icon-btn" @onclick="() => _cartService.IncrementQuantity()">
            <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Large" />
        </button>
    }

    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_Minus"))
    {
        <button class="action-button icon-btn minus-btn special-icon-btn" @onclick="() => _cartService.DecrementQuantity()">
            <MudIcon Icon="@Icons.Material.Filled.Remove" Size="Size.Large" />
        </button>
    }

    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_Delete"))
    {
        <button class="action-button icon-btn full-width delete-btn" @onclick="() => _cartService.RemoveItem(_commonProperties.TableItems??[])">
            <MudIcon Icon="@Icons.Material.Outlined.DeleteOutline" Size="Size.Large" />
        </button>
    }

    @if (_commonProperties.IsFeatureEnabled("POS_Keypad_Edit"))
    {
        <button class="action-button icon-btn full-width edit-btn" @onclick="OpenItemCommentDialog">
            <MudIcon Icon="@Icons.Material.Outlined.EditNote" Size="Size.Large" />
        </button>
    }

    <button class="action-button icon-btn full-width discount-btn" @onclick="OpenDiscountDialog" style="background-color: #fdd835; color: #000;">
        <MudIcon Icon="@Icons.Material.Filled.LocalOffer" Size="Size.Large" />
    </button>
</div>

@code
{
    private async Task OpenFullCustomerInfo()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        await _dialogService.ShowAsync<FullCustomerInfoDialog>(Localizer["CustomerInfo"], options);
    }

    private async Task OpenItemCommentDialog()
    {
        if (_commonProperties.TableItems!.Count == 0)
            return;

        _commonProperties.ItemCommentDialogReference = await _dialogService.ShowAsync<ItemCommentDialog>("Add New Address");
    }


    private async Task OpenDiscountDialog()
    {
        if (_commonProperties.TableItems!.Count == 0)
            return;

        _commonProperties.ItemDiscountDialogReference = await _dialogService.ShowAsync<ItemDiscountDialog>("Add New Discount");
    }
}
